/* Big tablet to 1200px (widths smaller than the 1140px row) */

@media only screen and (max-width: 1200px) {
    .form-box {
        width: 60%;
    }
}


/* Small tablets to big tablet: from 768px to 1023px */

@media only screen and (max-width: 1023px) {
    .form-box {
        width: 70%;
    }
    h2 {
        font-size: 130%;
    }
}


/* Small phones to small tablets: from 481px to 767px */

@media only screen and (max-width: 767px) {
    .form-box {
        width: 80%;
        padding: 40px;
    }
    h2 {
        font-size: 130%;
        /* This is eqaul to 40px pixels because we set the global font size to 20 and we double it to make it 40px */
        margin-bottom: 50px;
    }
    header {
        height: 105vh;
    }
}


/* Small phones: from 0 to 480px */

@media only screen and (max-width: 480px) {
    h2 {
        font-size: 110%;
        /* This is eqaul to 40px pixels because we set the global font size to 20 and we double it to make it 40px */
        margin-bottom: 50px;
    }
    header {
        height: 105vh;
    }
}